@model AdminCMS.Models.Account

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center align-items-center responsive" style="height:50vh">

            <div class="col-4">
                <div class="card">
                    <div class="card-body responsive">
                        @using (Html.BeginForm("Login", "Account"))
                        {
                            <div class="col-lg-12 alert-danger">@ViewBag.Message</div>
                            <br />
                                <div class="row">
                                    <label for="name" class="col-md-5 control-label">@Html.LabelFor(model => model.Email)</label>
                                    <div class="col-md-7 responsive">
                                        @Html.TextBoxFor(model => model.Email, new { @tabindex = "1", autocomplete = "off", @placeholder = "Email", @name = "Email", })
                                    </div>
                                </div><br />
                                <div class="row">
                                    <label for="name" class="col-md-5 control-label">@Html.LabelFor(model => model.Password)</label>
                                    <div class="col-md-7 responsive">
                                        @Html.TextBoxFor(model => model.Password, new { @tabindex = "2", @id = "txtPassword", autocomplete = "off", @placeholder = "Password", @name = "Password", @type = "password" })
                                    </div>
                                </div><br />
                                <input type="submit" class="btn btn-primary" value="Login" />
                                <hr />
                                <div class="form-group">
                                    <div class="col-md-12 control">
                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                            Don't have an account!&nbsp;
                                            <a href="@Url.Action("Register", "Account")">
                                                Sign Up Here
                                            </a>-
                                        </div>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
            </div>
        </div>
    </div>
</body>
</html>
